*{
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 1%;
    background-color: rgb(244, 240, 228);
}

.title{
    color: rgb(83, 125, 150);
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.main-page{
    background-color: rgb(83, 125, 150);
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    outline: auto;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 15px;
}

.search-row {
    display: flex;
    gap: 10px;
}

.search-box, .btn{
    display: flex;
    padding-inline-end: 35px;
    padding-block: 5px;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(244, 240, 228);
}

.btn{
    box-shadow: 1px 3px 6px rgb(75, 111, 187);
    cursor: pointer;
    transition: 0.2s;
}

.btn:active{
    background-color: rgb(244, 240, 228);
    opacity: 0.8;
}

.weather-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    align-items: center;
}

.weather-card h2 {
    font-size: 24px;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.weather-card p {
    font-size: 16px;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.weather-card img {
    width: 100px;
}